{% extends 'base.html' %}

{% block title %}
    Citations
{% endblock %}

{% block content %}
<h1 class="main" style="margin:20px" align="center">
    Citations
</h1>

<center>
<h4 style="margin:20px">
    The images on this website were sourced from the following websites:
</h4>
</center>
<p style="margin:20px">
    Pizza Cheese Mozzarella. Pixabay. Accessed April 28, 2025.
    <a href="https://pixabay.com/photos/pizza-cheese-mozzarella-tomato-5311269/">https://pixabay.com/photos/pizza-cheese-mozzarella-tomato-5311269/.</a> 
</p>
<p style="margin:20px">
    Coca-Cola Coke Soda. Pixabay. Accessed April 28, 2025.
    <a href="https://pixabay.com/photos/coca-cola-coke-soda-cola-drink-5222420/">https://pixabay.com/photos/coca-cola-coke-soda-cola-drink-5222420/.</a> 
</p>
<p style="margin:20px">
    <a href="https://commons.wikimedia.org/wiki/File:Home-icon.svg">Timothy Miller</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0">CC BY-SA 3.0</a>, via Wikimedia Commons
</p>
<p style="margin:20px">
    <a href="https://commons.wikimedia.org/wiki/File:Noble_Roman%27s_-_May_2024_-_Sarah_Stierch_12.jpg">Missvain</a>, <a href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0</a>, via Wikimedia Commons
</p>
<p style="margin:20px">
    <a href="https://commons.wikimedia.org/wiki/File:Greek_Salad_from_Thessaloniki.jpg">Armineaghayan</a>, <a href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons
</p>
<p style="margin:20px">
    <a href="https://commons.wikimedia.org/wiki/File:Paper-bag-open_-_Caro_Asercion_-_game-icons.svg">Caro Asercion</a>, <a href="https://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>, via Wikimedia Commons
</p>
<br>

<center>
<h4 style="margin:20px">
    TSA-Specific Materials
</h4>
</center>
<p style="margin:20px">
    <a href="../static/WebmasterCitationCheck.pdf">Student Copyright Checklist</a>
</p>
<p style="margin:20px">
    <a href="../static/WebmasterPlanOfWork.pdf">Plan of Work Log</a>
</p>

<p style="margin:20px">
    <a href="https://getbootstrap.com/docs/4.0/components/navbar/">Navbar powered by Bootstrap.</a>
</p>

{% endblock %}