{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1 align="center">
        Purely Pizza
    </h1>
    <h2 class="main" style="margin:20px" align="center">
        About Us
    </h2>
    <p style="margin:20px" align="center">
        We are a small, locally owned restaurant that serves wood oven-fired pizza and other Italian dishes. Dedicated to the environment, we pride ourselves in producing top quality food and following the vegetarian diet. This quality is derived from locally sourced food, ensuring freshness and elegance of our meals. The steps towards quality don't stop there, however, and continue into the kitchen, where our specialized cooks use various techniques and follow safety procautions to ensure all measures are taken to promote the quality and reliability of our food. 
    </p>
    <center>
    <img src="../static/img/vegitargian-pizza.jpg" alt="A small pizza featuring tomato sauce, mozzarella, bazil, and tomatoes" style="width:50%; height:auto; margin:20px">
    </center>
{% endblock %}