{% extends 'base.html' %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
    <h1 class="main" style="margin:20px" align="center">
        Green Energy
    </h1>
    <p style="margin:20px; text-indent: 50px;">
        With the development of society, there arises a need to power all of the new innovations that are constantly being created.
        In the midst of this development, many years ago, fossil fuels were chosen to power the world.
        Unfortunately, this solution has proven detrimental to the health of the planet, creating inhabitable zones across the globe, melting ice caps, and overall making the planet a dirtier place.
        Additionally, fossil fuels take thousands of years to make, and the Earth is using these resources much faster than it can replenish them.
        Society has come to discover these problems, and is now looking for new solutions that are more sustainable and clean.
        The main four of these solutions include <a href="/solar">solar</a>, <a href="/wind">wind</a>, <a href="/hydroelectric">hydroelectric</a>, and <a href="/geothermal">geothermal</a>. 
    </p>
    <center>
    <img src="../static/img/plant-growing.jpg" alt="Green plant sprouting from the earth with other plants and sun in background" style="width:50%; height:auto; margin:20px">
    </center>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <center>
    <table>
        <col width="500px" />
        <col width="500px" />
        <tr>
            <th colspan="2"><center>Nonrenewable vs. Renewable Energy</center></th>
        </tr>
        <tr>
            <th><center>Nonrenewable</center></th>
            <th><center>Renewable</center></th>
        </tr>
        <tr>
            <td><center>Relatively low carbon footprint, with the majority coming from the production of instrumentation</center></td>
            <td><center>High carbon footprint</center></td>
        </tr>
        <tr>
            <td><center>Relatively low to nonexistent upfront cost</center></td>
            <td><center>High upfront and installation costs</center></td>
        </tr>
        <tr>
            <td><center>Convenient</center></td>
            <td><center>Take up significantly more space and maintenance</center></td>
        </tr>
        <tr>
            <td><center>Consistent until they run out</center></td>
            <td><center>Potentially inconsistent based on location</center></td>
        </tr>
    </table>
    </center>
    <br>
    <h2 style="margin:20px" align="center">
        How to Practice Clean Energy Principles at Home
    </h2>
    <p style="margin:20px">
        You don't have to invest in green energy alternatives to reduce your carbon footprint.
        The following actions can all help you do your part in helping combat climate change:
    </p>
    <ul style="margin:20px">
        <li>Switching off lights when they aren't in use</li>
        <li>Taking stairs as opposed to elevators</li>
        <li>Being mindful of when the AC is on</li>
        <li>Taking shorter showers</li>
        <li>Turning off electronics that aren't in use</li>
{% endblock %}