{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/order.css" type="text/css">
{% endblock %}

{% block title %}
    Order
{% endblock %}

{% block content %}
<h1 align="center">Order</h1>

<div id="product-featured-box" class="menu-grid">
    <a href="order-pizza.html"> 
    <div class="product-box">
        <img src="../static/img/pizza.jpg" alt="A slice of cheese pizza with melted cheese being pulled away from the rest of the pizza using a pie server."></img>
        <h3>Pizza</h3>
    </div>
    </a>
    <a href="order-breadsticks.html">
    <div class="product-box">
        <img src="../static/img/breadsticks.jpg" alt="Five breadsticks in a wire basket with a side of cheese sauce."></img>
        <h3>Breadsticks</h3>
    </div>
    </a>
    <a href="order-salad.html">
    <div class="product-box">
        <img src="../static/img/salad.jpg" alt="Greek salad containing olives, tomatoes, cucumbers, feta cheese, onions, and parsley, served on a white ceramic plate with a fork sticking out."></img>
        <h3>Salad</h3>
    </div>
    </a>
    <a href="order-drinks.html">
    <div class="product-box">
        <img src="../static/img/drinks.jpg" alt="A plastic Coca-Cola bottle filled halfway with soda on a red background with a water ripple effect."></img>
        <h3>Drinks</h3>
    </div>
    </a>
    <a href="order-dessert.html">
    <div class="product-box">
        <img src="../static/img/dessert.jpg" alt="Four cannollis resting on a table in a line, coated with powdered sugar."></img>
        <h3>Dessert</h3>
    </div>
    </a>
    <a href="order-bag.html">
    <div class="product-box">
        <img src="../static/img/bag-icon.svg" alt="Paper bag icon"></img>
        <h3>Bag</h3>
    </div>
    </a>
  </div>

{% endblock %}