{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="../static/css/order.css" type="text/css">
{% endblock %}

{% block title %}
    Order
{% endblock %}

{% block content %}
<h1 align="center">Order</h1>

<div id="product-featured-box">
    <a href="order-pizza.html"> 
    <div class="product-box">
        <img src="../static/img/solar-panels.jpg" alt="Solar panel"></img>
        <span>Pizza</span>
    </div>
    </a>
    <a href="order-breadsticks.html">
    <div class="product-box">
        <img src="../static/img/solar-panels.jpg" alt="Solar panel"></img>
        <span>Breadsticks</span>
    </div>
    </a>
    <a href="order-salad.html">
    <div class="product-box">
        <img src="../static/img/solar-panels.jpg" alt="Solar panel"></img>
        <span>Salad</span>
    </div>
    </a>
    <a href="order-drinks.html">
    <div class="product-box">
        <img src="../static/img/solar-panels.jpg" alt="Solar panel"></img>
        <span>Drinks</span>
    </div>
    </a>
    <a href="order-dessert.html">
    <div class="product-box">
        <img src="../static/img/solar-panels.jpg" alt="Solar panel"></img>
        <span>Dessert</span>
    </div>
    </a>
    <a href="order-bag.html">
    <div class="product-box">
        <img src="../static/img/solar-panels.jpg" alt="Solar panel"></img>
        <span>Bag</span>
    </div>
    </a>
  </div>

{% endblock %}