{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<h1 align="center">{% block title %}{% endblock %}</h1>
<br>
<img src="{% block image %}{% endblock %}" alt="{% block alt %}{% endblock %}" class="product-image" style="margin: auto; display: block; height: auto; max-width: 500px;"></img>

{% block options %}{% endblock %}

<div>
    <a id="add_to_bag_button" style="margin:10px" class="btn btn-primary" role="button">Add to order</a>
    <a href="order.html" class="btn btn-secondary" style="margin:10px" role="button">Back to order</a>
</div>

<script src= "{% block script %}{% endblock %}"></script>

{% endblock %}