{% extends 'base.html' %}

{% block title %}
    Safety and Cooking
{% endblock %}

{% block content %}
    <h1 class="main" style="margin:20px" align="center">
        Safety and Cooking
    </h1>
    <p style="margin:20px;" align="center">
        Here at [restaurant], we pride ourselves in our safety and cooking practices. We believe that any good meal must first be properly prepared for it to taste like perfection. In order to have this proper preparation, we pursue various safety procedures and cooking measures that ensure that our food consistently leaves a positive impact on the consumer. 
    </p>
    <center>
        <img src="../static/img/baker.jpg" alt="Chef wearing white hairnet hat and white uniform standing in front of an ablaze pizza oven" style="width:50%; height:auto; margin:20px">
    </center>
    <h2 style="margin:20px" align="center">
        Safety
    </h2>
    <p style="margin:20px" align="center">
        We pride ourselves in our safety measures. 
        First, we follow all necessary guidelines set out by the Food and Drug Administration, keeping the customer safe.
        Additionally, we teach our chefs safety procautions, such as how to properly handle a knife and maintain a clean working space within the restaurant, which allows us to facilitate cooking in a safe manner.
        To ensure these measures are taken, we have hired a professional safety manager who ensures that all chefs are following these procautions. 
        Ultimately, these safety procautions combined with our safety manager creates an unmistakable atmosphere that makes customers feel welcome.
    </p>
    <h2 style="margin:20px" align="center">
        Cooking
    </h2>
    <p style="margin:20px" align="center">
        To ensure all of our foods are fully cooked and prepared, we hire the best vegetarian chefs in the world, coming from culinary schools all around the country. These professionals are no strangers to the kitchen, and they pride themselves in their output of quality cooked food. 
    </p>
    <br>

{% endblock %}