{% extends 'base.html' %}

{% block title %}
    Sourcing and Sustainability
{% endblock %}

{% block head %}
<link rel="stylesheet" href="../static/css/quiz.css" type="text/css">
{% endblock %}

{% block content %}
    <h1 class="main" style="margin:20px" align="center">
        Sourcing and Sustainability
    </h1>
    <img src="cows.jpg" alt="A group of cows standing aesthetically in an open field with lots of space" style="width:50%; height:auto; margin:20px">
    <p style="margin:20px" align="center">
        Promoting the farmers and agricultural experts located near us, we tap into the potential of the local area to help the economy of our town while helping to bring sustainable practices into the restaurant. 
        This tapping into the local farmers helps keep the process as a whole sustainable, as our food requires less fuel output and distance traveled to bring from the farm and onto the plate of the customer.
        Additionally, being a vegetarian pizza restaurant, we promote the wellbeing of animals and help promote life for our ecosystem by not condoning animal cruelty and using these products in our foods. 
    </p>
{% endblock %}